<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawsom -->
    <link rel="stylesheet" href="../asset/css/all.min.css">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="../asset/css/bootstrap-icons.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="../asset/css/style.css">
</head>
<body data-bs-theme="dark">
    <%- include('partial/header.ejs') %>
    
    <!-- blog data in table -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <table class="table border-info-subtle my-4">
                        <thead class="border-info">
                            <tr>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Discription</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider align-text-bottom">
                            <% data.map((val)=>{const {title,image,date,discription,_id}=val %>
                            <tr>
                                <td><img src="<%= image %>" alt="blog-img" class="object-fit-cover rounded-3" width="100px" height="110px"></td>
                                <td class="fw-semibold fs-4 text-nowrap"><%= title %></td>
                                <td class="text-secondary-emphasis fst-italic text-nowrap"><%= date %></td>
                                <td class="text-wrap text-secondary fst-italic"><%= discription %></td>
                                <td class="text-nowrap">
                                    <a href="/blog/deleteBlog<%= _id %>" class="btn btn-outline-info me-3">Delete</a>
                                    <a href="/blog/editBlog<%= _id %>" class="btn btn-outline-info">Edit</a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- JQuery -->
    <script src="../asset/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="../asset/js/bootstrap.bundle.min.js"></script>
    <!-- main js -->
    <script src="../asset/js/main.js"></script>
</body>
</html>